.list-content{
    min-height:300px;
   }
   .list-content .list-group .title{
     background:#5bc0de;
     border:2px solid #DDDDDD;
     font-weight:bold;
     color:#FFFFFF;
   }
   .list-group-item img {
       height:80px; 
       width:80px;
   }
   
   .jumbotron .btn {
       padding: 5px 5px !important;
       font-size: 12px !important;
   }
   .prj-name {
       color:#5bc0de;    
   }
   .break{
       width:100%;
       margin:20px;
   }
   .name22 {
       color:#5bc0de;   
       font-size: large; 
   }
   .handlemargin
   {
    margin-top: 2%;
   }

   .btnforjoining {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin:1%;
  }
  
  /* Darker background on mouse-over */
  .btnforjoining:hover {
    background-color: green;
  }
  .btnforjoining2 {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin:1%;
  }
  
  /* Darker background on mouse-over */
 